* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* header */
.header {
  position: relative;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* parameters for the header section */
}

.image-logo {
  z-index: 3;
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_p_header {
  height: 62px;
}

.logo_place_header {
  width: 154px;
  height: 31px;
}

.text {
  display: flex;
  flex-direction: column;
}

.text-title {
  margin-left: 64px;
  width: 730px;
}

.header__title {
  align-items: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.text-subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__subtitle {
  position: relative;
  top: 30px;
}

.header__link {
  position: relative;
  top: 27px;
}

.image-hero {
  display: flex;
}

.header__main-ilustration {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 756px;
  height: 608px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
}
/* header end */

/* main content */

/* description */
.content {
  margin-top: 100px;
}

.description {
  width: 80%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.two-colums__title {
  width: 175px;
}
.two-colums__brief {
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
.two-colums__main-text {
  width: 80%;
  min-width: 784px;
}
.two-colums__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-colums__span-acent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
/* description */

/* digits */
.digits {
  margin-bottom: 100px;
  text-align: center;
}
.digits__section-title {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.section-title {
  margin-bottom: 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  text-align: left;
}
.table__cell {
  width: 250px;
  margin-bottom: 60px;
}
.table-heading {
  margin-bottom: 20px;
  line-height: 1.5em;
  font-size: 24px;
  font-weight: bold;
}
.table-text {
  margin-bottom: 20px;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
}
/* digits end */

/* feyman */
.feynman {
  overflow: hidden;
  min-height: 790px;
  background-color: #f2f2f2;
  position: relative;
}
.feynman__section-title {
  padding-top: 100px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.feynman__title {
  width: 775px;
  margin: 0 auto;
  margin-bottom: 70px;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__section-link {
  position: absolute;
  right: 48px;
  top: 50%;
}
.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__section-images {
  position: absolute;
  bottom: 0;
  left: 0;
}
.feynman__image {
  width: 867px;
  height: 637px;
  margin-bottom: -5px;
}
/* feyman end */

/* kaufman */
.kaufman {
  position: relative;
  overflow: hidden;
}
.kaufman__section_theme_dark {
  background-color: #1f1f1f;
  color: white;
}
.kaufman__section-title {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 90px;
  width: 60%;
  margin: auto;
}
.section-title_theme_dark {
  margin-bottom: 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table_theme_dark {
  position: relative;
  z-index: 1;
  width: 1100px;
  padding-bottom: 90px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
.table__cell_theme_dark {
  margin-top: 80px;
  list-style: none;
  width: 200px;
  margin-bottom: 80px;
}
.table__heading_theme_dark {
  margin-bottom: 20px;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
}
.table__text_theme_dark {
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
}
.kaufman__section-images {
  position: absolute;
  right: -124px;
  top: 0;
}
.kaufman__triangle {
  width: 660px;
  height: 636px;
}
/* kaufman end */

/* main content end */

/* including elements with key-value modifiers */
/* .table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */

/* footer */
.footer {
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
}
.footer__columns {
  width: 90%;
  min-height: 350px;
  margin: auto;
  padding: 60px 0 40px 0;
  display: flex;
  justify-content: space-between;
}
.footer__columns_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo_place_footer {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo_p_footer {
  height: 70px;
}
.logo_practicum_footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
/* .footer__columns_content_about {
} */
.footer__list_content_about {
  list-style: none;
}
.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
/* .footer__list {
} */
.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
/* .footer__colums_content_social {
} */
.footer__social-icon {
  margin-right: 10px;
}
/* footer end */
